<mat-card>
    <mat-card-title>Add Course</mat-card-title>
    <br><br>
    <form (ngSubmit)="formSubmit()">
        <mat-form-field class="ex">    
            <mat-label class="size"><mat-icon>menu_book</mat-icon>&nbsp;Course name</mat-label>
            <input type="text" matInput placeholder="Enter course name...." [(ngModel)]="get.lname" name="lname" required>
           </mat-form-field>
         
           <mat-card-actions>
            <button mat-raised-button color="primary">Add</button>
            <button mat-raised-button color="warn" [mat-dialog-close]>Cancle</button>
          </mat-card-actions>
    </form>
</mat-card>



