
<div >
<div class="bootstrap-wrapper l">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="k" style="background-color: #4db6ac;">
                    <mat-icon  style="font-size: 30px;" mat-list-icon>menu_book</mat-icon>
                    <mat-card-title>30</mat-card-title>
                    <mat-card-subtitle style="font-size: 19px;">Total Courses</mat-card-subtitle>
        
        
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="k" style="background-color: #4db6ac;">
                    <mat-icon  style="font-size: 30px;" mat-list-icon>people</mat-icon>
                    <mat-card-title>30</mat-card-title>
                    <mat-card-subtitle style="font-size: 19px;">No of Professors</mat-card-subtitle>
        
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="k" style="background-color: #4db6ac;">
                    <mat-icon  style="font-size: 30px;" mat-list-icon>people</mat-icon>
                    <mat-card-title>30</mat-card-title>
                    <mat-card-subtitle style="font-size: 19px;">No of Students</mat-card-subtitle>
        
        
                </mat-card>
            </div>
        </div>
    </div>
    <br><br> <br><br>
</div>

</div>


<h1></h1>
<mat-divider></mat-divider>
<br><br>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/Course.png" height="200px" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Total Courses</mat-card-title>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>view</button>
                      <button mat-button>Add</button>
                    </mat-card-actions>
                  </mat-card>
                  
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/profe.jpeg" height="200px" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Avalable Professors</mat-card-title>
                    </mat-card-content>
                    <mat-card-actions>
                      <button routerLink="/admin/view-professors" mat-button>view</button>
                      <button (click)="open()" mat-button>Add</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/student.jpg"  height="200px" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-title>Registered Students</mat-card-title>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>view</button>
                      <button mat-button>Add</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
    <br>
</div>


