<div class="bootstrap-wrapper l">
    <div class="container">
        <div >
          <br><br><br>
          <h1 style="color: white;margin: top 30px;">Available Professors</h1>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button color="warn" (click)="open()">Add Professor</button>
        </div>
     
    </div>
   
</div>

<br>
<mat-divider></mat-divider>
<br>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let c of getdata">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{c.name}}</mat-card-title>
                      <mat-card-subtitle>{{c.email}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../../assets/Course.png" height="250px" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button [routerLink]="'/admin/view-profile/'+c.proid">View</button>
                    
                      <button (click)="delete(c.proid)" color="warn" mat-button>Delete</button>
                     
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</div>
