<app-student-navbar></app-student-navbar>
<div class="bootstrap-wrapper l">
    <div class="container">
        <div >
          <br><br><br>
          <h1 style="color: white;margin: top 30px;">{{cname}} Course</h1>
        </div>

        <div style="text-align: center;">
           
        </div>
     
    </div>
   
</div>

<br>
<mat-divider></mat-divider>
<br>


<button routerLink="/student" mat-button><mat-icon>arrow_back_ios</mat-icon>Back</button>     


<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
               
                <mat-form-field class="ex" >
                    <mat-label><mat-icon style="font-size: 15px;">search</mat-icon> Search</mat-label>
                    <input matInput type="text" name="term"  [(ngModel)]="term"  placeholder="Search module name" >
                  </mat-form-field>
                  <mat-card>
                      <mat-action-list>
                          <div mat-subheader>
                              Modules 
                          </div>
                          <div style="margin-top: 5px;" *ngFor="let c of getdata | filter : term">
                              
                            <mat-accordion class="example-headers-align"  (click)="contentview(c.lid)" multi>
                                <mat-expansion-panel >
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                     {{c.lname}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    
                                     
                                     
                                    </mat-panel-description>
                                  </mat-expansion-panel-header>
                                  <div *ngFor="let f of content">
                                    <button mat-list-item (click)="showcontent(f.name,f.downloadlink,f.videolink)">  {{f.name}} </button>
                                  </div>
                                
                                </mat-expansion-panel>
                              </mat-accordion>
                          </div>

                          <!--view quizes-->
                          <div style="margin-top: 5px;">
                            <mat-accordion class="example-headers-align"    multi>
                            <mat-expansion-panel >
                              <mat-expansion-panel-header (click)="openquizes(Id)">
                                <mat-panel-title >
                                        Quizes
                                </mat-panel-title>
                                <mat-panel-description>
                                click to open
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <div *ngFor="let ff of quizes">
                                <button mat-list-item (click)="openquiz(ff.qId,ff.title,ff.description,ff.maxMarks,ff.numberofQuestions)">  {{ff.title}} </button>
                              </div>
                            
                            </mat-expansion-panel>
                          </mat-accordion>
                          </div>
                          
                          
                      </mat-action-list>
                  </mat-card>
            </div>
            <div class="col-md-9">
              
              <!--Quiz Test-->

              <div *ngIf="quizshow">
                <div class="row">
                  <div class="col-md-2"><h1>{{quiztitle}}</h1></div>
                  <div class="col-md-2" *ngFor="let r of results; let i=index"><h2> <button mat-button (click)="result(r.rId)">Result-{{i+1}}</button> </h2></div>
                 
                </div>
               
                <mat-card>
                  <mat-toolbar color="primary">
                    <h4>Quiz Test</h4>
                  </mat-toolbar>
                  <br><br>
                  <div class="bootstrap-wrapper">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3"><h1 style="text-align:center;">Questions<mat-divider></mat-divider></h1>
                          <h2 style="text-align:center;">{{noofquestions}}</h2>
                        </div>
                        <div class="col-md-3"><h1 style="text-align:center;">Sections<mat-divider></mat-divider></h1>
                        <h2 style="text-align:center;">01</h2></div>
                        <div class="col-md-3"><h1 style="text-align:center;">Duration<mat-divider></mat-divider></h1>
                        <h2 style="text-align:center;">{{noofquestions}}Min</h2></div>
                        <div class="col-md-3"><h1 style="text-align:center;">Max Marks<mat-divider></mat-divider></h1>
                        <h2 style="text-align:center;">{{maxmarks}}</h2></div>
                      </div>
                      <br>
                      <div class="bootstrap-wrapper">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                            
                              <h2 style="text-align:center;" >Attempts: {{attempts.k}}/3</h2>
                            </div>
                            <div class="col-md-3"><h2 style="text-align:center;">Protected:No</h2></div>
                            <div class="col-md-3"></div>
                            
                          </div>
                        </div>
                      </div>
                    
                      <!--table-->
                      <table id="customers">
                        <tr>
                        
                          <th>Duration</th>
                          <th>Questions</th>
                          <th>MaxMarks</th>
                        </tr>
                        <tr>
                         
                          <td>{{noofquestions}}Min</td>
                          <td>{{noofquestions}}</td>
                          <td>{{maxmarks}}</td>
                        </tr>
                       
                       
                      </table>
                      <br><br>
                      <mat-divider></mat-divider>
                      <br>
                      <div class="bootstrap-wrapper">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-3"><h3 > </h3></div>
                            <div class="col-md-3">
                              <h3 style="text-align:center;"><b>ScreenLock: No</b> </h3>
                            </div>
                           
                            <div class="col-md-3"><h3 style="text-align:center;"> <b>ReTake:No</b> </h3></div>
                            <div class="col-md-3"><h3 > </h3></div>
                          </div>
                        </div>
                      </div>
                     
                      <mat-divider></mat-divider>

                      <mat-card-actions>
                        <div style="text-align:center;margin-top:20px;">
                          <button mat-raised-button (click)="openins(qId)"  color="accent">Take Test</button>
                        
                      </div>
                      </mat-card-actions>
                      
                    </div>
                  </div>
                </mat-card>
              </div>
              
                
                <div *ngIf="!show" >
                  <div class="bootstrap-wrapper">
                    <div class="container">
                      <h1>{{contentname}}</h1>
                     
                      <mat-card style="min-height: 60%;">
                         
                         
                          <mat-card-content>
                            <youtube-player id="my_video_1" videoId="{{video}}" [width]="250" [height]="250" >
                            </youtube-player>
                          </mat-card-content>
                          <br>
                          <br><br>
                          
                          <mat-card >
                              <mat-card-subtitle><b>MaterialLink</b></mat-card-subtitle>
                              <b><a href="{{download}}" target="_blank">{{download}}</a></b>
                          </mat-card>
                          
                      </mat-card>
                  </div>
                    </div>
                  </div>
                   
               
            </div>
        </div>
    </div>
</div>


